<div class="navbar navbar-inverse container-fluid">
	<%= link_to "Blog", articles_path, {:class => "nome_blog"} %>
</div>

<h1>Novo Artigo</h1>

<div class="div-form-comentario container-fluid">
	<%= form_for :article, url: articles_path do |f| %>
		<% if !@article.nil? && @article.errors.any? %>
			<div id="error_explanation">
				<p>
					<%= pluralize(@article.errors.count, "error") %> prohibited
					this article from being saved:
				</p>
				<ol>
					<% @article.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ol>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label "Título" %>
			<%= f.text_field :title, :class => "form-control" %><br>
		</div>
	
		<div class="form-group">
			<%= f.label "Conteúdo" %>
			<%= f.text_area :text, :class => "form-control" %>
		</div>
	 
		<div class="form-group">
			<%= f.submit "Enviar", :class => "btn btn btn-default" %>
			<%= link_to articles_path do %>
				<div class="btn btn-default">Cancelar</div>
			<% end %>
		</div>
	<% end %>
</div>
